.top_2 {
	padding-top: 5px;
}

#reg {
	font-family: Arial;
	font-size: 17px;
	color: white;
	align-content: center;
}

#reg_1 {
	font-family: Arial;
	font-size: 17px;
	color: white;
	align-content: center;
	padding-left: 100px;
	padding-right: 20px;
}

.indent_1 {
	padding-top: 40px;
}

.indent_2 {
	padding-top: 40px;
}

.place {
	/*margin-left: 300px;*/ 
	background-color: #7109AA; /* #494A51*/; 
	border-radius: 30px; 
    width: 450px;
	margin-top: 200px;
	border-radius: 30px; 
	align-content: center;
}

.inp {
	background-color: white; 
	border-radius: 5px; 
    width: 250px;
    height: 35px;
    margin-left: 40px;
    margin-top: 19px;
    border-radius: 9px; 
    
}

#subm {
	color: white;
	font-size: 15px;
	font-family: Arial;
	margin-bottom: 35px;
	background-color: #B12D78;
	margin-left: 150px;
	width: 200px;
	height: 39px;
	border: 0px;
	border-radius: 9px;
	margin-top: 40px;

}

#log {
	font-family: Arial;
	margin-top: 10px;
	font-size: 24px;

}

.reg1 {
	height: 40px;
}

.hidden {
	display: none;
}

.log_text {
	padding-top: 18px;
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	color: white;
	width: 145px;
	padding-left: 25px;
}

body {
    background-color: #E7E7E7;
}

.head {
    width: 100%;
    height: 44.01px;
    background-color: #8243D6;
} 

.col-1, .col , .row{
    margin: 0;
    padding: 0;
}
.menu {
    background: #7109AA;
    padding-top: 20px;
    height: 100%;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 35px solid #7109AA;
    border-bottom: 20px solid transparent;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px !important;
}

.triangle-right_2 {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 25px solid #7109AA;
    border-bottom: 15px solid transparent;
    margin-left: 25px;
    margin-top: 23px;
}

.roll_class, .max_class, .med_class {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 17px;
    margin-bottom: 10px;
}

.rasp{
    border-left: 1px solid #BEBEBE;
    border-top: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
}

.less{
    width: 100%;
    height: 67px;
    border-radius: 17px;
    background-color: #F2E6E6;
    margin-top: 20px;
    border: none;
}

.days{
    text-align: center;
    font-size: 28px;
    border-top: 1px solid #BEBEBE;
    line-height: 65px;

}

.class_number {
    font-family: 'Roboto', sans-serif;
    margin-left: 200px;
    line-height: 2.1;
}

.menu_class-1 {
    width: 75px;
    height: 41px;
    margin-left: 23px;
    background-color: #D52388;
    border-radius: 17px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #FFE9EA;
    padding-left: 15px;
}

.add_lesson, .add_lesson_mid{
    text-align: right;
}

.add_lesson .btn{
    width: 35px;
    height: 35px;
    border-radius: 40px;
    background: #7109AA;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
}

.add_lesson_mid .btn {
    width: 35px;
    height: 35px;
    border-radius: 40px;
    background: #7109AA;
    color: white;
    margin-bottom: 20px;
}

.new_class {
    height: 52.33px;
    width: 54.75px;
    background: #7109AA;
    border-radius: 100%;
    border: none;
}

.day-card {
    width: 30%;
    height: 252px;
    border-radius: 17px;
    background-color: #fff;
    margin-top: 3em;

}

.prev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content {
    min-height: 100vh;
    height: 100%;
}

h2.day {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}